body {
  width: 960px;
  margin: auto;
  background-color: lightgray;
}

header {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: gray;
}

header>img {
  width: 160px;
  padding: 20px;
}

header>ul {
  padding-top: 30px;
  display: inline-block;
  vertical-align: top;
  line-height: 150%;
}

h1 {
  padding: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}

#name {
  font-size: 35px;
  padding-bottom: 10px;
}

.past {
  width: 237px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  vertical-align: middle;
  
}

#past1 {
  background-color: gray;
  padding-top: 7px;
  padding-bottom: 7px;
}

#past2 {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  line-height: 150%;
  text-indent: 30px;
  background-color: darkgray;
}

#article2 {
  background-color: darkgray;
  height: 400px;
}

#present1 {
  width: 300px;
}

#present2 {
  width: 500px;
  display: inline-block;
  vertical-align: top;
  text-indent: 30px;
  line-height: 150%;
}

#article3 {
  margin-top: 50px;
  padding: 30px;
  text-indent: 30px;
  line-height: 150%;
  background-color: darkgray;
}

#article4 {
  margin-top: 50px;
  padding: 30px;
  line-height: 150%;
  background-color: darkgray;
}

#article4>ul {
  display: inline-block;
}

li {
  padding-left: 20px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  line-height: 150%;
  background-color: darkgray;
}

footer>h2 {
  text-align: center;
  font-size: 20px;
}

h3 {
  text-align: right;
}